
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Csv Data (Large files)
uptc_final.csv
uptc_processed.csv
*.csv

# Secrets
.env

# MacOS
.DS_Store

# IDE
.idea/
.vscode/

# Streamlit
.streamlit/
